.h__eyebrow {
  position: relative;

  & > span {
    display: block;
    font-size: 0.55em;
    color: inherit;
    opacity: 0.4;
    text-transform: uppercase;
    font-family: var(--font-family-body);
    font-weight: 400;
    transform: scaleY(0.9);
    margin-bottom: -6px;
    margin-left: 1px;

    @media (max-width: 575px) {
      font-size: 0.5em;
      margin-bottom: -3px;
    }
  }

  &--small {
    & > span {
      font-size: 0.45em;

      @media (max-width: 575px) {
        font-size: 0.4em;
      }
    }
  }
}
