@import './../../../shared/scss/bootstrap-breakpoints.scss';

.about-page {
  & .about {
    &__select-wrapper {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      background-color: #dadada;

      transition: all 0.5s ease;

      &:has(.about__selection.inactive:hover) {
        background-color: #351a11;
      }

      @media (max-width: $media-xxl) {
        flex-direction: column;
      }
    }

    &__selection {
      flex: 1 1 50%;
      overflow: hidden;
      height: 100%;
      min-height: 100vh;

      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      transition: filter 0.5s ease, flex 0.5s ease;

      &:hover {
        cursor: pointer;
        filter: none !important;

        .about__character-basic {
          background-color: var(--var__dark-brown);
          color: #fff;
        }

        .about__img-blur {
          background-color: var(--var__dark-brown) !important;
        }

        @media (max-width: $media-xxl) {
          cursor: default;
        }
      }

      &.active {
        flex: 1 1 80%;
      }

      &.inactive {
        flex: 1 1 20%;
        filter: grayscale(100%);

        @media (max-width: $media-xxl) {
          flex: 1 1 100%;
          filter: none;
        }
      }

      &.active {
        .about__character-basic {
          flex: 1 1 40%;
          background-color: var(--var__dark-brown);
          color: #fff;
          filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.4));
        }

        .about__character-more {
          flex: 1 1 60%;
          opacity: 1;
          max-height: 100%;
        }

        .about__img-blur {
          background-color: var(--var__dark-brown);
        }
      }

      &.inactive {
        .about__character-more {
          flex: 0 0 0;
          opacity: 0;
          display: none;

          @media (max-width: $media-xxl) {
            display: flex;
            opacity: 1;
            flex: 1 1 60%;
          }
        }

        .about__character-basic {
          flex: 1 1 100%;
          justify-content: center;

          @media (max-width: $media-xxl) {
            flex: 1 1 40%;
            justify-content: flex-start;
          }
        }

        .about__img-blur {
          background-color: var(--var__dark-white);

          @media (max-width: $media-xxl) {
            background-color: var(--var__dark-brown);
          }
        }
      }

      @media (max-width: $media-md) {
        flex-direction: column;
      }
    }

    &__select-1 {
      background-color: #f0f0f0;
    }

    &__select-2 {
      background-color: #e0e0e0;
    }

    &__character-basic {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      max-width: 100%;
      transition: flex 0.5s ease;
      overflow: hidden;
      background-color: var(--var__dark-white);
      transition: color 0.5s ease, background-color 0.5s ease;

      & img {
        max-width: 100%;
        height: auto;
        transition: transform 0.5s ease;
        position: relative;
        width: 100%;
      }

      @media (max-width: $media-xxl) {
        flex: 1 1 40%;
        background-color: var(--var__dark-brown);
        color: #fff;
        filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.4));
      }
    }

    &__img-wrapper {
      position: relative;
      display: flex;
      justify-content: center;

      & img {
        width: 100%;
        height: auto;
        transition: transform 0.5s ease;
        filter: drop-shadow(0px 0px 16px rgba(0, 0, 0, 0.3));
      }

      @media (max-width: $media-md) {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
      }
    }

    &__img-blur {
      width: 84%;
      height: 4vw;
      background-color: var(--var__dark-brown);
      filter: blur(10px);
      z-index: 40;
      margin-right: auto;
      margin-left: auto;
      margin-top: -1.8vw;

      transition: background-color 0.5s ease;
    }

    &__character-more {
      display: flex;
      flex-direction: column;
      flex: 1 1 60%;
      opacity: 1;
      transition: flex 0.5s ease, opacity 0.5s ease;
      overflow: hidden;
      padding-left: 20px;
      margin-left: -20px;
    }

    &__character-short {
    }

    &__character-name {
      text-align: center;
    }

    &__character-role {
      text-align: center;
    }

    &__character-description {
      max-width: 69%;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }

    &__character-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 12px;
      position: relative;

      @media (max-width: $media-md) {
        gap: 8px;
      }

      & > i {
        position: absolute;
        left: -86px;
        border-radius: 600px;
        font-size: 34px;
        height: 60px;
        display: flex;
        align-items: center;
        padding: 12px;
        color: #fff;
        top: -5px;
        background-color: var(--var__dark-brown);

        &::before {
          filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.3));
        }

        @media (max-width: $media-md) {
          position: static;
          margin: 0;
          left: 0;
          height: 42px;
          font-size: 26px;
          padding: 8px;
        }
      }
    }

    &__character-bio {
      text-align: justify;
      margin-bottom: 24px;
    }

    &__character-specializations {
      padding-left: 22px;
      list-style: circle;

      @media (max-width: $media-md) {
        padding-left: 53px;
      }
    }

    &__character-education {
      padding-left: 6px;

      @media (max-width: $media-md) {
        padding-left: 53px;
      }
    }

    &__character-education-item {
      display: flex;
      flex-direction: column;
    }

    &__character-education-institution {
    }

    &__character-education-degree {
      color: #9d9d9d;
      font-weight: 200;
    }

    &__character-experience-item {
      display: flex;
      flex-direction: column;

      @media (max-width: $media-md) {
        padding-left: 53px;
      }
    }

    &__character-contact-item {
      margin: 0;

      @media (max-width: $media-md) {
        padding-left: 53px;
      }
    }

    &__character-section {
      padding-bottom: 40px;
      padding: 15px 30px 15px 55px;

      &:nth-child(even) {
      }

      @media (max-width: $media-md) {
        padding: 15px 30px 15px 15px;
      }
    }
  }
}
