@import '../../../shared/scss/bootstrap-breakpoints.scss';

$contactSectionBorderRadius: 0;
$contactSectionGap: 16px;
$contactSectionShadow: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.35));

.landing-page {
  & .contact {
    position: relative;
    // background-color: var(--var__light-gray);
    background-size: cover;
    background-position: center;

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.25);
      z-index: 1;
    }

    &__container {
      position: relative;
      z-index: 2;
    }

    &__introduction-wrapper {
      background-color: var(--var__dark-white);
      padding: 24px;
      margin-bottom: $contactSectionGap;
      border-radius: $contactSectionBorderRadius;
      filter: $contactSectionShadow;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;

      @media (max-width: $media-md) {
        margin-bottom: 0;
        filter: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &__title {
      color: var(--var__dark-brown);
      margin-bottom: 16px;
    }

    &__wrapper {
      display: flex;
      flex-direction: row;
      gap: $contactSectionGap;

      @media (max-width: $media-lg) {
        flex-direction: column;
      }

      @media (max-width: $media-md) {
        gap: 0;
      }
    }

    &__map-wrapper {
      height: 100%;
      width: 100%;
      filter: $contactSectionShadow;
    }

    &__map {
      width: 100%;
      height: 100%;
      border-radius: $contactSectionBorderRadius;
      border-bottom-left-radius: 20px;

      @media (max-width: $media-lg) {
        height: 500px;
        border-bottom-right-radius: 20px;
      }
    }

    &__column {
      flex: 1;
    }

    &__column-1 {
      flex: 1 1 70%;

      @media (max-width: $media-xl) {
        flex: 1 1 60%;
      }

      @media (max-width: $media-lg) {
        order: 2;
      }
    }

    &__column-2 {
      flex: 1 1 30%;

      @media (max-width: $media-xl) {
        flex: 1 1 40%;
      }
    }

    &__info-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: $contactSectionGap;
      align-items: center;

      @media (max-width: $media-lg) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }

      @media (max-width: $media-md) {
        gap: 0;
      }
    }

    &__item {
      display: flex;
      flex-direction: row;
      width: 100%;
      background-color: var(--var__dark-white);
      padding: 16px;
      gap: 24px;
      align-items: center;
      border-radius: $contactSectionBorderRadius;
      filter: $contactSectionShadow;

      &:last-child {
        border-bottom-right-radius: 20px;
      }

      @media (max-width: $media-lg) {
        flex: 1 1 48%;
        width: auto;

        &:last-child {
          border-bottom-right-radius: 0;
        }
      }

      @media (max-width: $media-md) {
        flex: 1 1 100%;
        width: auto;
        border-radius: 0;
        filter: none;
        border-top: 1px solid var(--var__main-color);
      }

      & > i {
        font-size: 40px;
        padding: 12px;
        color: var(--var__dark-brown);
      }
    }

    &__item-title {
      color: var(--var__dark-brown);
    }

    &__item-text {
    }

    &__cta {
      max-width: 170px;
      padding: 16px 24px;
      background-color: #4b2518;
      border-radius: 40px;
      text-align: center;
      text-decoration: none;
      color: #fff;
      font-weight: 700;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      & > i {
        padding-left: 8px;
        font-size: 18px;
      }
    }
  }
}
