@import '../../../shared/scss/bootstrap-breakpoints.scss';

.landing-page {
  & .count {
    background-color: var(--var__dark-brown);

    &__counters-wrapper {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      @media (max-width: $media-lg) {
        flex-wrap: wrap;
        gap: 16px;
      }
    }

    &__counter-item {
      background-color: transparent;
      border-radius: 8px;
      padding: 1rem 2rem;
      height: 220px;
      width: 30%;
      max-width: 440px;
      min-width: 236px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));

      @media (max-width: 778px) {
        padding: 1rem 0;
        min-width: initial;
      }

      & > i {
        color: var(--var__dark-white);
        font-size: 66px;
        padding: 12px 14px;
        margin-top: -14px;

        @media (max-width: $media-lg) {
          font-size: 60px;
        }

        @media (max-width: $media-md) {
          font-size: 50px;
        }
      }

      @media (max-width: 526px) {
        width: 100%;
        height: 160px;
      }
    }

    &__counter-header {
      font-weight: bold;
      font-size: 2.3rem;
      color: var(--var__dark-white);
      margin: 0;

      @media (max-width: $media-lg) {
        font-size: 2rem;
      }

      @media (max-width: $media-md) {
        font-size: 1.8rem;
      }
    }

    &__counter-description {
      font-size: 1.5rem;
      font-weight: 400;
      text-align: center;
      color: var(--var__dark-white);
      margin: 0;

      @media (max-width: $media-lg) {
        font-size: 1.3rem;
      }

      @media (max-width: $media-md) {
        font-size: 1.2rem;
      }
    }
  }
}
