.landing-page {
  & .hero {
    height: 100vh;
    width: 100%;
    position: relative;
    // box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background: radial-gradient(circle, rgba(227, 217, 207, 1) 75%, rgba(189, 175, 160, 1) 100%);
    overflow: hidden;

    &__image {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      z-index: 5;
      height: 62%;
      filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.3));
    }

    &__content {
      position: absolute;
      left: 0;
      right: 0;
      margin-left: auto;
      width: fit-content;
      margin-right: auto;
      bottom: 0;
      margin-bottom: 65vh;
      text-align: center;

      & > h1 {
        text-transform: uppercase;
        font-family: var(--font-family-body);
        font-weight: 900;
        font-size: 80px;
        color: currentColor;
        margin: 0;

        & > span {
          color: var(--var__main-color);
        }
      }

      & > p {
        font-size: 24px;
        color: #a3a3a3;
        font-weight: 200;
        margin: 0;
      }
    }

    &__border {
      position: absolute;
      left: 0;
      height: calc(85vh - 103px);
      width: 90%;
      bottom: 0;
      border: 32px solid rgba(255, 255, 255, 0.75);
      top: 76px;
      margin-top: auto;
      margin-bottom: auto;
      margin-left: auto;
      margin-right: auto;
      right: 0;
      z-index: 6;
    }

    &__border-image {
      position: absolute;
      width: 120px;
      opacity: 0.4;
    }

    &__border-image-1 {
      left: 15px;
      bottom: 15px;
    }

    &__border-image-2 {
      right: 15px;
      bottom: 15px;
      transform: rotateY(180deg);
    }

    &__buttons-wrapper {
      display: flex;
      flex-direction: row;
      gap: 232px;
      bottom: -46px;
      left: 56px;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
      justify-content: center;
      position: absolute;
    }

    &__button {
      background-color: var(--var__main-color);
      color: #fff;
      text-decoration: none;
      padding: 16px 40px;
      display: flex;
      width: -moz-fit-content;
      width: fit-content;
      min-width: 191px;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      border-radius: 2px;
      filter: drop-shadow(2px 4px 6px #000);
      text-transform: uppercase;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 12px;

      &--secondary {
        background-color: var(--var__medium-green);
      }

      & > i {
        font-size: 24px;
      }
    }
  }
}
