@import '../../../shared/scss/bootstrap-breakpoints.scss';

.landing-page {
  & .why-us {
    background-color: #f6f6f6;

    &__header {
      color: var(--var__dark-brown);
    }

    &__images {
      display: flex;
      flex-direction: row;
      gap: 24px;
      position: relative;
      max-width: 600px;
      margin-right: auto;
      margin-left: auto;

      @media (max-width: $media-sm) {
        gap: 3vw;
      }
    }

    &__column {
      display: flex;
      flex-direction: column;
      width: 50%;
      gap: 24px;

      $sepiaAmount: 0.1;

      @media (max-width: $media-sm) {
        gap: 3vw;
      }

      & img {
        width: 100%;
        filter: sepia($sepiaAmount);
      }

      & img.why-us__image-1 {
        filter: sepia($sepiaAmount) drop-shadow(-24px -24px 0px var(--var__dark-white));

        @media (max-width: $media-sm) {
          filter: sepia($sepiaAmount) drop-shadow(-8px -12px 0px var(--var__dark-white));
        }
      }
    }

    &__wax-seal {
      position: absolute;
      width: 25%;
      opacity: 0.99;
      height: auto;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      filter: drop-shadow(2px 4px 6px black);
      z-index: 2;
    }

    $border-radius: 60px;
    $vorder-radius-md: 40px;
    $border-radius-sm: 20px;

    &__image-1 {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      height: 100%;

      @media (max-width: $media-md) {
        border-top-left-radius: $vorder-radius-md;
        border-bottom-left-radius: $vorder-radius-md;
        border-bottom-right-radius: $vorder-radius-md;
      }

      @media (max-width: $media-sm) {
        border-top-left-radius: $border-radius-sm;
        border-bottom-left-radius: $border-radius-sm;
        border-bottom-right-radius: $border-radius-sm;
      }
    }

    &__image-2 {
      border-top-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      border-top-right-radius: $border-radius;

      @media (max-width: $media-md) {
        border-top-left-radius: $vorder-radius-md;
        border-bottom-right-radius: $vorder-radius-md;
        border-top-right-radius: $vorder-radius-md;
      }

      @media (max-width: $media-sm) {
        border-top-left-radius: $border-radius-sm;
        border-bottom-right-radius: $border-radius-sm;
        border-top-right-radius: $border-radius-sm;
      }
    }

    &__image-3 {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      border-top-right-radius: $border-radius;

      @media (max-width: $media-md) {
        border-bottom-left-radius: $vorder-radius-md;
        border-bottom-right-radius: $vorder-radius-md;
        border-top-right-radius: $vorder-radius-md;
      }

      @media (max-width: $media-sm) {
        border-bottom-left-radius: $border-radius-sm;
        border-bottom-right-radius: $border-radius-sm;
        border-top-right-radius: $border-radius-sm;
      }
    }

    &__content-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__text {
      text-align: justify;
      margin-top: 16px;
    }

    &__list {
      display: flex;
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin-top: 36px;
    }

    &__list-element {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding-bottom: 16px;

      & > i {
        width: 40px;
        flex-shrink: 0;
        font-size: 30px;
      }

      & > span {
        flex: 1;
        padding-left: 16px;
      }
    }

    &__cta {
      max-width: 200px;
      padding: 16px 24px;
      background-color: #4b2518;
      border-radius: 40px;
      text-align: center;
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      & > i {
        padding-left: 8px;
        font-size: 18px;
      }
    }
  }
}
