@import '../../../shared/scss/bootstrap-breakpoints.scss';

.contact-hero {
  background-color: var(--var__dark-white);
  width: 100%;
  height: 800px;
  clip-path: ellipse(1750px 100% at 50% 0%);
  padding-bottom: 100px;
  padding-top: 60px;
  overflow: visible;
  position: relative;

  @media (max-width: 1236px) {
    height: 1000px;
  }

  @media (max-width: 474px) {
    height: 1440px;
  }

  @media (max-width: 388px) {
    height: 1480px;
  }

  @media (max-width: 368px) {
    height: 1520px;
  }

  &__quill {
    position: absolute;
    z-index: -1;
    right: -96px;
    top: 0;
    mix-blend-mode: soft-light;
    transform: rotate(280deg);
    opacity: 0.65;
  }

  &__quill-2 {
    position: absolute;
    z-index: -1;
    left: -94px;
    top: 0;
    mix-blend-mode: soft-light;
    transform: rotate(-20deg);
    opacity: 0.65;
  }

  &__title {
    color: var(--var__dark-brown);
    text-align: center;
    margin-bottom: 40px;

    & > span {
      font-size: 0.4em !important;
      margin-bottom: 0 !important;
    }

    & > sup {
      top: -14px;
      text-transform: uppercase;
      font-size: 0.6em;
      padding-right: 0px;
      z-index: -1;
      opacity: 0.4;
      font-style: italic;
      font-weight: 400;
    }
  }

  &__subtitle {
    text-align: justify;
    max-width: 675px;
    margin: 0 auto;
  }

  &__links {
    z-index: 5;
    padding: 75px 0;
  }
}

.contact-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 0 15px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    padding: 12px 0 32px 0;
    flex: 0 0 calc(25% - 40px);
    min-width: 280px;
    max-width: 300px;
    color: var(--var__dark-brown);

    @media (max-width: 628px) {
      min-width: 230px;
    }

    @media (max-width: 528px) {
      min-width: initial;
      flex: 0 0 calc(50% - 40px);
    }

    @media (max-width: 474px) {
      flex: 0 0 100%;
    }
  }

  &__icon {
    font-size: 64px;
    margin-bottom: 4px;
    padding: 10px;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: all 0.3s ease;
  }

  &__content {
    flex: 1;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 8px;
    font-family: var(--font-family-heading);
  }

  &__text {
    font-family: var(--font-family-body);
    line-height: 1.4;
    margin: 0;
    text-align: center;
  }
}

.contact-form {
  position: relative;
  top: -146px;
  background-color: #f4f0ec;
  margin: 0 auto;
  padding: 24px;
  color: var(--var__light-brown);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.075);
  border-radius: 16px;

  @media (max-width: $media-md) {
    top: -95px;
  }

  &__title {
    text-align: center;
    padding-bottom: 24px;
    margin: 0;
    color: var(--var__main-color);
  }
}

.contact-map {
  position: relative;
  overflow: hidden;
  margin-top: -64px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 80px rgba(0, 0, 0, 0.6);
    pointer-events: none;
    z-index: 1;
  }

  & img {
    width: 100%;
    height: auto;
    display: block;
  }

  &__pin-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }

    &:hover .contact-map__pin path {
      fill: var(--var__dark-white);
    }

    &:hover + .contact-map__address-wrapper {
      opacity: 1;
    }
  }

  &__pin {
    width: 100%;
    height: 100%;
    cursor: pointer;

    & path {
      fill: var(--var__light-brown);
      transition: fill 0.3s ease;
    }
  }

  &__address-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    text-align: left;
    margin-right: 10vw;
    margin-top: 3vw;
    width: fit-content;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }

  &__address {
    color: var(--var__dark-white);
    font-size: clamp(14px, 4vw, 100px);
    line-height: 5vw;
    font-family: var(--font-family-heading);
    font-weight: bold;
    filter: drop-shadow(2px 2px 0px #000);
    pointer-events: none;
  }

  &__address-img {
    width: 30vw !important;
    border-radius: 515px;
    border: 0.3vw solid var(--var__dark-white);
    pointer-events: none;
  }
}
